# Laravel & Composer
/vendor
/node_modules
/.composer
/.phpunit.result.cache
/.env
/.env.local
/.env.*.local
/public/storage
/storage/*.key
/storage/framework/cache/data
/storage/logs/*
/storage/app/*.sqlite
/public/hot
/public/build
/.idea
/.vscode
/.php_cs.cache

# Docker
docker-compose.override.yml
*.log
*.pid
*.swp
.DS_Store
.idea
*.bak

# OS files
Thumbs.db
Desktop.ini
