# Dependencias de Composer
/vendor/

# Dependencias de Node (si usas NPM o Yarn)
node_modules/

# Archivos de entorno
.env
.env.*.local

# Laravel 7
/storage/*.key
/storage/debugbar/
.storage/framework/cache/data/
.storage/framework/sessions/
.storage/framework/views/
.storage/logs/

# Directorios de pruebas
/tests/.phpunit.result.cache

# Directorios de caché y compilación
/bootstrap/cache/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración específicos del entorno
Homestead.yaml
Homestead.json

# Archivos de logs
*.log

# Otros archivos que no deberían ser subidos a Git
*.sqlite
